/* ---------- General ----------------- */
body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.75;
}

a {
  color: #69b3a2;
}

a:hover {
  color: #251667;
}

.text-primary {
  color: #69b3a2 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 695;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 45px;
  text-transform: none;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

/* ---------- Button ----------------- */
.btn {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: transparent;
  border-color: #69b3a2;
  color: #69b3a2;
  border-width: medium;
  margin-top: 5px;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #69b3a2 !important;
  border-color: #69b3a2 !important;
  color: white;
}

.btn-primary:active,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

.btn-secondary {
  background-color: transparent;
  border-color: #69b3a2;
  color: #69b3a2;
  border-width: small;
}

.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
  background-color: #69b3a2 !important;
  border-color: #69b3a2 !important;
  color: white;
}

.btn-secondary:active,
.btn-secondary:focus {
  background-color: #69b3a2 !important;
}

.btn-secondary:not(:disabled):not(.disabled).active {
  background-color: #69b3a2 !important;
  border-color: #69b3a2 !important;
  color: white;
}

::-moz-selection {
  background: #69b3a2;
  text-shadow: none;
}

::selection {
  background: #69b3a2;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

#mainNav {
  background-color: white;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #69b3a2;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Color of 'from data to viz' on the top left */
#mainNav .navbar-brand {
  color: #69b3a2;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
  color: #251667;
}

/* Color of the TEXT of the menu top right*/
#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: black;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #69b3a2;
  background-color: white;
  border-bottom: 5px solid #69b3a2;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: white;
  }

  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

.masthead {
  text-align: center;
  color: black;
  position: relative;
  overflow: hidden;
}

.parallax {
  /* The image used (faded with convert overview_RGG.png  -fill white -colorize 50%  overview_RGG_faded.png*/
  background-image: url("../img/overview_RGG_faded.png");

  /* Set a specific height */
  min-height: 100px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxstory {
  /* The image used (faded with convert overview_RGG.png  -fill white -colorize 50%  overview_RGG_faded.png*/
  background-image: url("../img/parallax/story_fading.png");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxcontact {
  /* The image used (faded with convert overview_RGG.png  -fill white -colorize 50%  overview_RGG_faded.png*/
  background-image: url("../img/parallax/surf_fading.png");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxposter {
  /* The image used (faded with convert overview_RGG.png  -fill white -colorize 50%  overview_RGG_faded.png*/
  background-image: url("../img/parallax/poster_zoom_fadded.png");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 150px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 14px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 100px;
    padding-bottom: 200px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 16px;
    font-style: italic;
    color: grey;
    line-height: 40px;
    margin-bottom: 25px;
    margin-right: 20%;
    margin-left: 20%;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.service-heading {
  margin: 15px 0;
}

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 130px;
  margin: 0 auto;
  cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(254, 209, 54, 0.9);
  border-radius: 100%;
  background-color: grey !important;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 0.8;
}

#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content
  i {
  margin-top: -12px;
}

#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content
  h3,
#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content
  h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: "none";
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#portfolio * {
  z-index: 2;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

/* -------------------- MENU ------------------ */

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

/* -------------------- TOOLTIP ------------------ */

.data-tooltip {
  color: black;
  background-color: white;
  background: white;
  align-content: "middle";
  margin-right: 10%;
  margin-left: 10%;
}

.tooltip.show {
  opacity: 1;
  background-color: white;
  border: green;
}

/* -------------------- MODAL ------------------ */

.portfolio-modal {
  padding-right: 0px !important;
}

/* width of modal: different following the device: small (100%), medium(50%), large(30%); */

.portfolio-modal .modal-dialog {
  margin: 3rem;
  max-width: 100vw;
  max-height: 95vh;
  overflow-y: auto;
}

@media (min-width: 1000px) {
  .portfolio-modal .modal-dialog {
    max-width: 50vw;
  }
}

@media (min-width: 1800px) {
  .portfolio-modal .modal-dialog {
    max-width: 30vw;
  }
}

.portfolio-modal .modal-content {
  padding: 10px 0;
  text-align: center;
}

.portfolio-modal .modal-content h2 {
  font-size: 2em;
  margin-bottom: 15px;
}

.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.portfolio-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content button {
  cursor: pointer;
}

/* -------------------- MODAL FULL SCREEN ------------------ */

.fullScreen {
  max-width: 100vw;
  max-height: 100vh;
}

.modal-dialog-full {
  max-width: 100vw;
  max-height: 100vh;
}

/* -------------------- CLOSING MODAL ------------------ */

.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}

.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #212529;
}

.portfolio-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 75px;
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #212529;
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef;
}

.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}

.timeline > li:after,
.timeline > li:before {
  display: table;
  content: " ";
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #fed136;
}

.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  width: 225px;
  height: 225px;
  border: 7px solid #fff;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: #fed136;
}

/* ------------------------------------------------------------------------------------------------------------------- */

/* CSS for the image caroussell (poster) */
/** {box-sizing: border-box}
    body {font-family: Verdana, sans-serif; margin:0}
    .mySlides {display: none}
    img {vertical-align: middle;}*/

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #69b3a2;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: white;
}

/* ------------------------------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------------------------------- */

/*Tree Style*/

.graphtypelogo:hover {
  opacity: 0.5;
}

.graphtypelogo {
  opacity: 1;
}

#NumCat {
  color: red;
}

.astext {
  background: none;
  border: none;
  font-weight: 900;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.mystory {
  fill: #69b3a2;
  font-size: 16px;
  text-align: center;
}
/* ------------------------------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------------------------------- */
/* Customize the gallery of the portfolio section
/* ------------------------------------------------------------------------------------------------------------------- */

.captionPortfolio {
  font-size: 12px;
  padding: 8px;
  margin: 0px;
  text-align: center;
}

/* Create three equal columns that floats next to each other */
.column {
  display: none; /* Hide all elements by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}
</style>

/* ------------------------------------------------------------------------------------------------------------------- */










/* ------------------------------------------------------------------------------------------------------------------- */
/* BUTTON TREE CHOICE
/* ------------------------------------------------------------------------------------------------------------------- */

.treeHead {
  border-style: solid;
  border-color: rgba(0, 0, 0, 1);
  border-radius: 25px;
}

.tree {
  opacity: 0;
}

/* ------------------------------------------------------------------------------------------------------------------- */
/* TOOLTIP WITH DATA EXAMPLE
/* ------------------------------------------------------------------------------------------------------------------- */

.tooltip {
  max-width: 510px;
  padding: 3px 8px;
  color: white;
  text-align: center;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.tooltip-inner {
  max-width: 510px;
  color: black;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

/* ------------------------------------------------------------------------------------------------------------------- */
/* MISTAKE CAROUSSEL CUSTOM
/* ------------------------------------------------------------------------------------------------------------------- */

.carousel-control-next,
.carousel-control-prev {
  color: black;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev {
  left: -121px;
}
.carousel-control-next {
  right: -121px;
}

.mytextrelated {
  text-transform: none;
  font-weight: normal !important;
  color: black;
}

.mytitlerelated {
  margin: 10px 0 10px;
  font-size: 14px;
}

.mybtnrelated {
  height: 380px;
  margin-top: 24px;
  padding-top: 24px;
}

/* ------------------------------------------------------------------------------------------------------------------- */
/* DROPDOWN BUTTON
/* ------------------------------------------------------------------------------------------------------------------- */

.dropdown-item {
  margin-left: 30px;
}

/* ------------------------------------------------------------------------------------------------------------------- */
/* PROMOTIONAL BANNER
/* ------------------------------------------------------------------------------------------------------------------- */

.promo-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(
    90deg,
    #ff007f,
    #f01cf3
  ); /* Simulating bg-purple-100 gradient */
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
  z-index: 1000;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  text-decoration: none !important;
}

.promo-banner:hover {
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
}

.promo-banner-close-btn {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  cursor: pointer;
}

/* ------------------------------------------------------------------------------------------------------------------- */
/* LOST
/* ------------------------------------------------------------------------------------------------------------------- */

.cardtitle {
  color: orange;
  text-align: left;
}

/* ------------------------------------------------------------------------------------------------------------------- */
/*
Disqus is displaying ads without my consent.
But removing it is some work since I would have to run all the rmd file again
so let's try to just hide it for now
/* ------------------------------------------------------------------------------------------------------------------- */

#disqus_thread {
  display: none;
}
