p.caption {
  font-size: 0.9em;
  font-style: italic;
  color: grey;
  margin-right: 10%;
  margin-left: 10%;  
  text-align: justify;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 100px;
}

h1 {
    padding-top: 65px !important;
    margin-top: 30px !important;
}

pre {
    border: 0px solid #cccccc;
    border-radius: 0px;
 }

a {
  color: #69b3a2;
}



.btn {
    border-width: 0 0px 0px 0px;
    font-weight: normal;
    text-transform: ;
}

.btn-default {
    color: #69b3a2;
    background-color: #ffffff;
    border-color: #69b3a2;
}



.main-container {
    max-width: 100% !important;
    margin-left: auto;
    margin-right: auto;
}

.mycontent{
      max-width: 900px !important;
      margin-left: auto;
      margin-right: auto;
      font-family: 'Montserrat';
      font-size: 130%;
      line-height: 1.7;
      padding-right: 15px;
      padding-left: 15px;
}




.mytitle{
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-size: 80%;
  font-weight: 300;
  letter-spacing: 4px;
}

.mysubtitle{
  color:grey;
  font-family: 'Montserrat';
}